//Homepage

@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import "./../components/Media-Queries.scss";

.homePage{

  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;


  &__content{
    
    height: 100vh;
    
    
    &--header{

      height: 100vh;
      position: relative;

      &--backgroundImage{

        
        height:100%;
        object-fit: cover;
        // filter: blur(0.8px);
        // -webkit-filter: blur(0.8px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.85;

        // @include respond-below(sm){
        //   height: 100%;
        //   background-size: auto;
          
        // }

      }

      &--textWrapper{
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        justify-content: center;
        width: 50%;
       

        //border: 1px solid red;

        &--title{

          font-family: 'Raleway', sans-serif;
          font-weight: 100;
          font-size: 5vw;         
          text-align: center;
          color: #FFFFFF;
          letter-spacing: 8px;
          background: rgba(0, 0, 0, 0.5);
          padding: 10px;
          

          
          @include respond-below(615){
            padding: 5px;
          }

        }
        

        &--subtitle{

          font-family: 'Raleway', sans-serif;
          font-size: 2vw;
          font-weight: 100;
          text-align: center;
          color: #FFFFFF;
          letter-spacing: 2px;
          background: rgba(0, 0, 0, 0.5);
          padding: 10px;
          
          @include respond-below(615){
            padding: 5px;
          }

          @include respond-below(xxs){
            padding: 2px;
          }

      }

      }

    }

  }

}
