//Portfolio Page

@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import "./../components/Media-Queries.scss";

.portfolio{
  padding-top: 115px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-below(sm){
    padding-top: 80px;
  }

    &__content{
      width: 100%;
      align-content: center;
      position: relative;
      

      &--header{
        
        

      &--title {
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
        text-align: center;
        color: #000000;
        letter-spacing: 8px;

        @include respond-below(sm){
          font-size: 12vw;
        }
       
      }

    }

      &--image {
        width:100%;
        height:100%;
        position: absolute;
        
      }

      &--youtubeVideo{
        position: relative;
        max-width: 1920px;
        width: 100%;
        padding-bottom: 56.23%;
        height: 0;
      }

      &--youtubeVideo iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
  }

}

.beforeAfterSlider{
  
}